@import url('https://fonts.googleapis.com/css?family=source+code+pro');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: "Open Sans",
        sans-serif;
    color: #272829;
    background: #d1c9c9;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

section {
    /* padding: 60px 0; */
    overflow: hidden;
}

.d-flex {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
}

#head-all {
    /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(b.jpeg); */
    background: url(f.jpeg);
    margin-top: 80px;
    background-size: cover;
    background-position: center;
    height: 90vh;
    opacity: 1.9;
    box-shadow: 1px 2px 10px 5px white;
    animation: slider 9s infinite linear;
}

#firstheader {
    position: fixed;
    top: 80px;
    /* left: 0; */
    bottom: 0;
    width: 300px;
    transition: all ease-in-out 0.5s;
    z-index: 9997;
    transition: all 0.5s;
    padding: 0 15px;
    background: #040b14;
    overflow-y: auto;
}

#firstheader .profile img {
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 8px solid #2c2f3f;
}

.rounded-circle {
    border-radius: 50% !important;
}

#firstheader .profile h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    background: #444;
    font-weight: 600;
    -moz-text-align-last: center;
    text-align-last: center;
    font-family: "Poppins", sans-serif;
}

#firstheader .profile h1 a {
    color: #fff;
    text-decoration: none;
}

#firstheader .profile h1 a:hover {
    color: rgb(190, 213, 233);
    text-decoration: none;
}

#firstheader .profile .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #212431;
    color: #fff;
    line-height: 1;
    padding: 17px 3px;
    margin-right: 8px;
    margin-top: 7px;
    border-radius: 50%;
    text-align: center;
    width: 32px;
    height: 17px;
    transition: 0.3s;
}

.man {
    margin-bottom: 5px;
}

/* .fa-facebook{
    background: #3B5998;
    color: white;
} */

#firstheader .profile .social-links a:hover {
    background: #149ddd;
    /* color: #fff; */
    text-decoration: none;
}

#main {
    margin-left: 350px;
}

.text-center {
    text-align: center;
}

.icon-center {
    align-items: center;
}

/* header styling end */



/* navigation starts from here */

.nav-menu {
    padding: 30px 0 0 0;
}

.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
}

.nav-menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a8a9b4;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
}

.nav-menu a i {
    font-size: 24px;
    padding-right: 8px;
    color: #6f7180;
}

.navbar .dropdown ul a:hover {
    background: #444;
    /* color: #818181; */
}

.nav-menu a:hover,
.nav-menu li:hover>a i {

    color: #149ddd;
    transform: translateX(12px);
    margin: 3px;

    transition: all .4s;
}

.nav-menu .active {

    color: #fff;
    margin: 3px;
}

/* navigation ends here */

.side {
    position: absolute;
    top: 14%;
    left: 2%;
}

#header {
    position: fixed;
    height: 80px;
    width: 100%;
    transition: all 0.5s;
    z-index: 997;
    top: 0;
    left: 0;
    opacity: 0.6;
    transition: all 0.5s;
    background: #0e6775;

    /* background: rgba(0, 0, 0, 0.8); */
}

#header.header-scrolled {
    background: rgba(0, 0, 0, 0.8);
    height: 64px;
    z-index: 1000;
}

#header .logo h1 {
    font-size: 36px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: bold;
}

#header .logo h1 span {
    color: #0d0d0d;
}

#header .logo h1 a,
#header .logo h1 a:hover {
    color: white;
    text-decoration: none;
}

.header-bg {
    background: url(page-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 120px 0 60px;
}

.header-bg::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
}

.navbar {
    padding: 0;
    margin-left: 520px;
}

.list-upper {
    margin-top: 0;
}

.navbar ul {
    margin-left: 634px;
    /* margin: 0; */
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.d-nav-flex {
    display: flex !important;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 10px 0 10px 30px; */
    font-size: 18px;
    /* text-decoration: none; */
    font-weight: 500;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar li a {
    text-decoration: none;
}

.navbar a i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover {
    border: none;
    background: none;
}

.navbar a:hover,
.navbar .active,
.navbar li:hover>a {
    color: #3ec1d5;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.navbar .dropdown ul li {
    min-width: 100px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    color: #0d2529;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: #03bedb;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

/* #head-all {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(b.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    opacity: 1.9;
    box-shadow: 1px 2px 10px 5px white;
    animation: slider 9s infinite linear;
} */

@keyframes slider {
    0% {
        background: url(d.jpeg);
        background-size: cover;
        /* color: #444; */
        /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
            url(f.jpeg); */
    }

    35% {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
            url(a.jpeg);
    }

    75% {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
            url(c.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

/* #banner {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(b.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    opacity: 0.9;
} */

#banner::before {
    content: " ";
    background: rgba(0, 0, 0, 0.7);
}

.section h1 {
    font-size: 36px;
    margin: 0;
    padding: 0;
    line-height: 1;

    font-weight: bold;
}

.section h1 span {
    color: #3ec1d5;

}

.section h1 a,
.section h1 a:hover {
    color: #fff;

    text-decoration: none;
}

/* .side {
    position: absolute;
    top: 4%;
    left: 10%;
} */

.banner-txt {
    text-align: center;
    color: black;

    padding-top: 270px;
}

.banner-txt h1 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 42px;
    font-weight: 700;
    margin-left: 172px;

}

.banner-txt p {
    width: 80%;

    font-size: 38px;
    line-height: 1.2;
    margin: 0 auto 27px 261px;
    color: #fff;
    font-style: italic;
}

.banner-txt a {
    /* margin-left: 345px; */
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    margin: 0 auto 30px 163px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 50px;
    transition: 0.5s;
    /* margin: 10px; */
    transition: background 0.5s;
    color: #fff;
    background: #3ec1d5;

}

#slider {
    overflow: hidden;
}

.banner-txt a:hover {
    background: #fff;
    color: #3ec1d5;
}

.dots {
    display: flex;
    justify-content: center;
    margin: 5px;
}

#slider {
    overflow: hidden;
}

.images {
    display: flex;
    width: 100%;
}

.images img {
    transition: all 0.15s ease;
}

#slider input {
    display: none;
}

.dots label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #fff 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
}

.dots label:hover {
    background: white;
}

.nactive {
    color: #006416;
}

#sidenav {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #3ec1d5;
    z-index: 2;
    transition: 0.5s;
}

nav ul li {
    list-style: none;
    margin: 20px 11px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    text-decoration: none;
    border: 2px solid white;
    background: rgb(112, 108, 108);
}

#menubtn {
    width: 50px;
    height: 50px;
    /* background: #3ec1d5; */
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}

#menubtn img {
    width: 20px;
    margin-top: 15px;
}





/* new side nav  */
.side-nav-container {
    font-family: "Lato", sans-serif;
}

/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 82px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a,
.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* On mouse-over */
.sidenav a:hover,
.dropdown-btn:hover {
    color: #03bedb;
}

/* Main content */
.main {
    margin-left: 200px;
    /* Same as the width of the sidenav */
    font-size: 20px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
    /* background-color: #0d2529; */
    /* background-color: rgb(139, 236, 228); */
    color: #3ec1d5;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.reports {
    padding: 5px;
    text-align: center;
    background: #444;
}

.man {
    padding: 5px;
    margin-top: 7px;
    text-align: center;
    background: #444;
}

.icon-pad {
    padding-right: 10px;
}

/* .last-side a {
    padding-left: ;
    text-align: center;
} */

.social-links a {
    font-size: 18px;
    display: inline-block;
    background: #212431;
    color: #fff;
    line-height: 1;
    padding: 17px 3px;
    margin-right: 8px;
    margin-top: 7px;
    border-radius: 50%;
    text-align: center;
    width: 32px;
    height: 17px;
    transition: 0.3s;

}

.social-links a:hover {
    background: #149ddd;
    color: #fff;

    text-decoration: none;
}

.side-icon {
    /* bottom: 0; */
    margin-top: 88px;
    /* margin-bottom: -75px; */
    padding-top: 10px;
    padding-left: 9px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
.usericonnav {
    /* padding: 0px; */
    margin-right: 5px;
    /* font-size: 60px; */
}